<h1><i class="fa fa-glass" aria-hidden="true"></i>  <%= @cocktail.name  %></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">
        <div class="card-category"><strong><%= @cocktail.name%></strong></div>
          <div class="card-description">
            <p><strong>Very cool drink, the BEST!</strong></p>
          </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>

      <% @cocktail.doses.each do |dose| %>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Qtdad:</strong>
      <%= dose.description %> ml

      <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Ingredient:</strong>
      <%= dose.ingredient.name %>

      <% link_to "Delete your dose", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-sm"%>

      <%end%>
      <br>
      <%= link_to "Delete your cocktail", cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-xs"%>


      <%= link_to "Back", cocktails_path, class:"btn btn-primary btn-xs" %>


      <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class:"btn btn-primary btn-xs"%>

    </div>
  </div>
</div>

<div class="message">

  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>I loveeeee it!</strong></p>
    <p>
      Best drink in the world!!!!
    </p>
  </div>

  </div>
</div>







 <%#raise %>
  <% cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


